/*----- Body -----*/
body {
    background-image: url(../IMG/img.jpg);
    font-family:'New tegomin', Kyosuke Nagai;
    background-size: 100% 100%;
    background-attachment: fixed;

}

h1{
    color: rgb(255, 0, 0);
    font-size: 200%;
    text-align: center;
}

h4{
    color: black;
    font-size: 115%;
    text-align: center;
}

.lista{
    display: block;
    padding: 13px;
    color: white;
}

.lista:link{
    text-decoration: none;
    color: white;
    transition: all 500ms ease;
}
.lista:visited{
    color:white;
    text-decoration: none;
}
.lista:hover{
    background-color: rgb(106, 225, 255);
    color: black;
}

.menu{
    width: 40px;
    position: relative;
}

input[type="checkbox"]
{
    display: none;
}
input[type = "checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}

nav{
    background-color: rgba(0, 0, 0, 0.671);
    width: 350px;
    height: 90%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

.descripcion{
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

table{
    border-collapse: collapse;
	border: 1px solid black;
	border-style: hidden;
    font-size: medium;
    padding: auto;
    font-weight: bold;
    margin-bottom: 60px;
}
th, td {
    text-align: center;
    padding: 1rem;
}
.td_inferior{
    align-items: center;
    justify-content: center;
    background-image: url(../IMG/plata.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.td_superior{
    align-items: center;
    justify-content: center;
    background-image: url(../IMG/oro.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.youtube{
    margin-left: 60px;
    margin-right: 60px;
}

a{
    text-decoration: none;
}

footer{
    padding: 20px;
}
