/*----- Body -----*/
body {
    background-image: url(../IMG/img.jpg);
    font-family:'New tegomin', Kyosuke Nagai;
    background-size: 100% 100%;
    background-attachment: fixed;

}

.lista{
    display: block;
    padding: 13px;
    color: white;
}

.lista:link{
    text-decoration: none;
    color: white;
    transition: all 500ms ease;
}
.lista:visited{
    color:white;
    text-decoration: none;
}
.lista:hover{
    background-color: rgb(106, 225, 255);
    color: black;
}

.menu{
    width: 40px;
    position: relative;
}

input[type="checkbox"]
{
    display: none;
}
input[type = "checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}

nav{
    background-color: rgba(0, 0, 0, 0.671);
    width: 350px;
    height: 90%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

h1{
    color: rgb(255, 0, 0);
    font-size: 300%;
    text-align: center;
}

p{
    color: black;
    font-size: 150%;
    text-align: center;
}

.javascript{
    height: 30%;
    width: 30%;
}

.bienvenida{
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

.youtube{
    margin-left: 60px;
    margin-right: 60px;
}

a{
    text-decoration: none;
}

footer{
    padding: 27px;
}