
html{
    background-color: #e7d3af;
}

article{
    width:46.4%;
    display: inline-block;
    height: 250px;
    background-color: #e7d3af;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    margin-bottom: 5px;

}

.segundo-contenedor{
    background-color: #641515;
    padding-top: 10px;

}

section{
    background-color: #641515;

}

article{
    color: #641515;
    font-size: 16px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 390px;
}

.texto{
    color:#e7d3af;
    font-size: 18px;
    font-style: italic;
    font-style:oblique;

}

.uno{
    -webkit-animation: span 1.5s alternate infinite;
    -moz-animation: span 1.5s alternate infinite;
    animation: span 1.5s alternate infinite;
    height: 150px;
    width: 170px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #641515;
    s
} 

@-webkit-keyframes span{
    100%{-webkit-transform: rotateY(180deg);}
}
@-moz-keyframes span{
    100%{-webkit-transform-style: preserve-3d;}
}
@keyframes span{
    100%{-webkit-transform: rotateY(180deg);}
}


nav{
    background-color: #641515;
    padding-top: 8px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.redes{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e7d3af;
}

.redes2{
    height: 80px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e7d3af;
}

footer{
    margin-bottom: 5px;
    background-color:#641515;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
}

img{
    margin-left: 60px;
}
