nav{
    background-color: #641515;
    margin:5px;
    width: 100.2%;
}

footer{
    background-color:#641515;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    width:100.2%;
}

section{
    display: inline-block;
    background-color: #641515;
    width: 98%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.fondo-grande{
    background-color: #e7d3af;
}

html, body{
    background-color: #e7d3af;
    font-style: italic;
}

.uno{
    height: 150px;
    width: 170px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #e7d3af;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
    }

@-moz-keyframes spin{
   100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
   100%{-webkit-transform: rotate(360deg);}
}

.dos{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e7d3af;
    empty-cells: show;
    -webkit-animation: span 2.5s linear infinite;
    -moz-animation: span 2.5s linear infinite;
    animation: span 2.5s linear infinite;
}
}
@-webkit-keyframes span{
    100%{-webkit-transform:scale(0.5);transform:scale(0.5);}
}

@-moz-keyframes span{
    100%{-webkit-transform:scale(0.5);transform:scale(0.5);}
}

@keyframes span{
    100%{-webkit-transform:scale(0.5);transform:scale(0.5);}
    100%{overflow:hidden;}
}

.tres{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #e7d3af;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.cuatro{
    height: 270px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e7d3af;
    -webkit-animation: span 2.5s linear infinite;
    -moz-animation: span 2.5s linear infinite;
    animation: span 2.5s linear infinite;
}

.redes{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(94, 58, 29);
}

.redes2{
    height: 80px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(94, 58, 29);
}

body{
    color: #e7d3af;
    font-style: italic;
}

img{
    margin-left: 60px;
}


